
<div class="container">
  <h1>My bookings</h1>

  <% @bookings.each do |booking, place| %>
  <div class="card-link d-flex justify-content-between p-2 m-0">

    <div class="card-product col-10">
      <%= cl_image_tag @place.photo, height: 650, width: 1400, crop: :fill, class: "d-block w-100" %>
      <div class="card-product-infos">
        <h2><%= booking.place["name"].capitalize %></h2>
        <p>On <strong><%= booking.date %></strong></p>
      </div>
    </div>
    <a href=""><%= link_to "", booking_path(booking) %></a>
    <div class="col-2 text-align-center">
      <%= link_to 'Delete', booking, class: "btn btn-dark", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

  </div>
  <% end %>

  <%= link_to "See other places", places_url, class: "btn btn-primary" %>

</div>

