<div class="container">
  <div class="card-trip">
    <%= cl_image_tag @booking.place.photo, height: 650, width: 1400, crop: :fill, class: "d-block w-100" %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @booking.place.name.capitalize %> <em>(<%= @booking.place.category.capitalize %>)</em></h2>
        <p> Address: <%= @booking.place.address %></p>
      </div>
      <h2 class="card-trip-pricing">On: <%= @booking.date %></h2>
    </div>
  </div>

  <button class="mt-5" id="valid-btn"><%= link_to "See all my bookings", bookings_path %></button>
</div>

