<div class="home-banner">
  <div class="filter" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
    <h1 id="title">Outbook</h1>
    <p><span id="banner-typed-text"></span></p>
    <br>
    <!-- search form -->
    <div class="container">
      <div class="row">
        <div class="col category">
          <%= form_tag places_path, method: :get do %>
            <%= text_field_tag :category,
              params[:category],
              class: "form-control",
              placeholder: "Category"
            %>
        </div>
        <div class="col address">
            <%= text_field_tag :address,
              params[:address],
              class: "form-control",
              placeholder: "Where ?"
            %>
        </div>
      </div>
      <br>
        <div class="col button">
          <%= submit_tag "Find a place", id:"home-btn" %>
        </div>
          <% end %>
    </div>

  </div>
</div>

<!-- search bar -->

<hr>

<div class="container">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dabuecrzn/image/upload/v1558948944/photo-1533743471820-07198f456843_cvtdhn.jpg)">Terrace
      <a href=""><%= link_to "", places_path %></a>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dabuecrzn/image/upload/v1558949004/photo-1508333409359-027beab53750_auv2uw.jpg)">Garden
      <a href=""><%= link_to "", places_path %></a>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dabuecrzn/image/upload/v1558949039/photo-1513279922550-250c2129b13a_ivd2e7.jpg)">Rooftop
      <a href=""><%= link_to "", places_path %></a>
    </div>
  </div>
</div>
