
<div class="">
  <%= cl_image_tag place.photo, height: 350, width: 350, crop: :fill, class: "" %>

  <h3><%= place.name %></h3>

  <p>
    <%= place.category %> |
    <em><%= place.address %></em>
  </p>
  <i class="fas fa-user-friends"> <%= place.capacity %> </i>

  <%= link_to "", place_path(place), class: "stretched-link"%>

</div>
