<div class="main-container">
  <div class="places">
    <% @places.each do |place| %>
      <div class="card-place" data-place-id="<%= place.id %>">
       <%= cl_image_tag place.photo, height: 750, width: 1600, crop: :fill, class: "" %>
        <div class="card-place-infos">
          <div>
            <h2><%= place.name %></h2>
            <p>
              <%= place.category %> |
              <em><%= place.address %></em>
            </p>
          </div>
          <div class="card-place-capacity">
            <i class="fas fa-user-friends"> <%= place.capacity %> </i>
          </div>
        </div>
        <a href=""><%= link_to "", place_path(place) %></a>
      </div>
    <% end %>
  </div>


  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>

</div>
