<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Rent your outdoor</h1>
        <%= simple_form_for @place do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :category, collection: ["Terrace", "Garden", "Rooftop"] %>
        <%= f.input :capacity, input_html: { min: '0'} %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <br>
      <button name="button" class="btn btn-primary"> <%= link_to "Back to list", places_path %> </button>

    </div>
  </div>

</div>
