<!-- Carroussel des photos du lieu, uploadées par le User -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>



 <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag @place.photo, height: 650, width: 1400, crop: :fill, class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <% if @place.photo2.url == nil %>
      <%= cl_image_tag @place.photo, height: 650, width: 1400, crop: :fill, class: "d-block w-100" %>
      <%  else %>
      <%= cl_image_tag @place.photo2, height: 650, width: 1400, crop: :fill, class: "d-block w-100" %>
      <% end %>
    </div>
    <div class="carousel-item">
      <% if @place.photo3.url == nil %>
      <%= cl_image_tag @place.photo, height: 650, width: 1400, crop: :fill, class: "d-block w-100" %>
      <%  else %>
      <%= cl_image_tag @place.photo3, height: 650, width: 1400, crop: :fill, class: "d-block w-100" %>
      <% end %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- Détails du lieu -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 py-5">
      <div class="headline">
        <div class="infos-show">
          <h2><%= @place.name %></h3>
          <h4><i class="fas fa-map-marker-alt"></i>  <%= @place.address %></h4>
        </div>
        <button type="button" id="valid-btn" class="right"><%= link_to "Book this place", new_place_booking_path(@place) %></button>

      </div>
      <!-- name remplacer par title -->
      <div class="about">
        <h4>Details</h4>
        <ul>
          <li>Category: <strong><%= @place.category %></strong></li>
          <li></i> Capacity: <strong><%= @place.capacity %></strong>  pleople can stand in there</li>
        </ul>
      </div>

      <button id="home-btn"><%= link_to "Back to list", places_path %></button>
<<<<<<< HEAD
=======

>>>>>>> 14d1a1ce756c3b29ef92a280ba5a8f935fcb7cbf
    </div>
  </div>
</div>
<!--
justify content space between -->
