<!-- Carroussel des photos du lieu, uploadées par le User -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag @place.photo, height: 650, width: 1400, crop: :fill, class: "d-block w-100" %>
    </div>
      <div class="carousel-item">
        <% if @place.photo2 == nil %>
          <%= cl_image_tag @place.photo2, height: 650, width: 1400, crop: :fill, class: "d-block w-100" %>
        <%  else %>
          <%= cl_image_tag @place.photo, height: 650, width: 1400, crop: :fill, class: "d-block w-100" %>
        <% end %>
    </div>
    <div class="carousel-item">
      <% if @place.photo3 == nil %>
          <%= cl_image_tag @place.photo3, height: 650, width: 1400, crop: :fill, class: "d-block w-100" %>
        <%  else %>
          <%= cl_image_tag @place.photo, height: 650, width: 1400, crop: :fill, class: "d-block w-100" %>
        <% end %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- Détails du lieu -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 py-5">
      <h3><%= @place.name %></h3>
      <!-- name remplacer par title -->
      <ul>
        <li>Category : <%= @place.category %></li>
        <li>Adress : <%= @place.address %></li>
        <li>Capacity : <%= @place.capacity %> pleople can stand in there</li>

      </ul>
      <button type="button" class="btn btn-primary"><%= link_to "Book NOW", new_place_booking_path(@place) %></button>
      <%= link_to "Return to the list", places_path %>
       <i class="fas fa-long-arrow-alt-left"></i>
    </div>
  </div>
</div>
